@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    @apply transition-colors duration-200;
}



table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.dark {
  @apply text-white
 }

.light {
  @apply text-gray-900
}

.btn {
  @apply bg-green-700 dark:text-green-300 hover:bg-green-600 rounded-md px-4 py-2 text-white cursor-pointer;
}

.btn-link {
  @apply text-green-700 dark:text-green-300 hover:text-green-600 cursor-pointer;
}

.label {
  @apply text-sm;
}

.field {
  @apply border p-2 rounded outline-0 focus:ring-4 ring-green-100 focus:border-green-600;
}

.form-group {
  @apply flex flex-col space-y-1;
}

.prose p {
  @apply mb-2;
}
